<!DOCTYPE html>
<html ng-app="sk.backgammon">
<head>
  <title>Backgammon</title>
  <link rel="stylesheet" type="text/css" href="dest/css/main.min.css">
</head>
<body ng-controller="MainCtrl">

  <section class="c-board">
    <article class="c-quadrant c-quadrant--outer-board">
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
    </article>

    <article class="c-quadrant c-quadrant--home-board">
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
      <div class="c-point c-point--down"></div>
    </article>

    <article class="c-quadrant c-quadrant--outer-board">
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
    </article>

    <article class="c-quadrant c-quadrant--home-board">
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
      <div class="c-point c-point--up"></div>
    </article>
  </section>

  <div class="c-box-container">
    <div class="c-box c-box--black">
      <div class="c-stone c-stone--black" ng-repeat="stone in stones" ng-if="stone.player === 'black' && stone.position === 25"></div>
    </div>
    <div class="c-box c-box--white">
      <div class="c-stone c-stone--white" ng-repeat="stone in stones" ng-if="stone.player === 'white' && stone.position === 25"></div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="dest/js/main.min.js"></script>
</body>
</html>
