<!DOCTYPE html>
<html ng-app="sk.backgammon">
<head>
  <title>Backgammon</title>
  <link rel="stylesheet" type="text/css" href="dest/css/main.min.css">
</head>
<body ng-controller="MainCtrl">

  <section class="c-board">
    <article class="c-quadrant"
      ng-class="$index % 2 ? 'c-quadrant--home-board' : 'c-quadrant--outer-board'"
      ng-repeat="quadrant in 'quad'">
      <div class="c-point"
        ng-class="$parent.$index < 2 ? 'c-point--down' : 'c-point--up'"
        ng-repeat="point in 'points' track by $index">
        <div class="c-stone"
          ng-repeat="stone in stones | filter:{position: $index} track by $index"
          ng-if="stone.position === $parent.$index"
          ng-class="stone.player === 'white' ? 'c-stone--white' : 'c-stone--black'"
          ng-style="$parent.$parent.$parent.$index < 2 && {'top': ($index * 15 + 1) + '%'} || {'bottom': ($index * 15 + 1) + '%'}"></div>
      </div>
    </article>
  </section>

  <div class="c-box-container">
    <div class="c-box c-box--black">
      <div class="c-stone c-stone--black" ng-repeat="stone in stones" ng-if="stone.player === 'black' && stone.position === 25"></div>
    </div>
    <div class="c-box c-box--white">
      <div class="c-stone c-stone--white" ng-repeat="stone in stones" ng-if="stone.player === 'white' && stone.position === 25"></div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="dest/js/main.min.js"></script>
</body>
</html>
