.c-quadrant {
  display: flex;
  width: 45%;
  height: 50vh;

  &:nth-child(-n+2) { flex-direction: row-reverse; }

  &:nth-child(1) { order: 2; }
  &:nth-child(2) { order: 1; }
  &:nth-child(3) { order: 3; }
  &:nth-child(4) { order: 4; }

  &:nth-child(1n+3) { align-self: flex-end; }
}


// .c-quadrant--home-board { }
// .c-quadrant--outer-board { }
